@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

/* Fonts */
h1,h2,h3,h4,h5,h6 {
color: black;
font-family: 'Montserrat', sans-serif;
}

body {
color: black;
font-family: 'Open Sans', sans-serif;
background-color: #d9e1e8;
}

i {
  padding-left: 10px;
}

.icon {
  color: #2e2d2d;
}

/* Navigation Side Bar */
.navbar-side {
  height: 100%;
  width: 30%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #2e2d2d;
  background-color: #f7f7f9;
  overflow-y: scroll;
  z-index: 1000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

#navbarSideButton,.btn {
  color: #ffffff;
  background-color: #336699;
}

.btn:hover {
  text-decoration: underline;
  background-color: #336699 !important;
}

/*
  @include media-breakpoint-up(sm) {width: 85%;} //Small
  @include media-breakpoint-up(md) {width: 50%;} // Medium
  @include media-breakpoint-up(lg) {width: 25%;} // Large


*/

.navbar-side-item {
 padding: 1.5rem 0;
 margin: 0;
 border-bottom: 2px solid #2e2d2d;
 height: 5rem;
}

.side-link {
 padding-left: 1rem;
 color: #336699;
 font-family: 'Open Sans', sans-serif;
}

.reveal {
 -webkit-transform: translateX(0%);
 -ms-transform: translateX(0%);
 transform: translateX(0%);
 -webkit-transition: 300ms ease;
 transition: 300ms ease;
}

/* Sidebar Overlay */
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ffffff;
  opacity: 0.6;
  z-index: 990;
}

/* Hero Image */
.hero-image {
  background: url("../images/activity-fair.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 100px;
}

/* Search Bar */
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}

/* Upcoming Event Sub-title */
.upcoming-events {
    text-decoration: underline;
  }

/* Event Cards */
ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  margin: 0;
}

.eventicon {
  padding-right: 10px;
}

small {
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #336699;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}





/* EVENT CALENDAR CSS */

.past-events:hover {
  text-decoration: underline;
}
