// Mixins Here
.navbar-side {
  @include media-breakpoint-up(sm) {width: 85%;} //Small
  @include media-breakpoint-up(md) {width: 50%;} // Medium
  @include media-breakpoint-up(lg) {width: 25%;} // Large
}
